@inherits LayoutComponentBase

<RadzenDialog />
<RadzenLayout>
  <RadzenHeader>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
      <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <RadzenLabel Text="Header" />
        <RadzenLink Path="https://blazor.radzen.com" Text="Radzen Components Documentation" Style="margin-right: 1rem;"/>
      </div>
    </RadzenStack>
  </RadzenHeader>
  <RadzenSidebar @bind-Expanded="@sidebarExpanded">
    <RadzenPanelMenu>
      <NavMenu />
    </RadzenPanelMenu>
  </RadzenSidebar>
  <RadzenBody>
    <article class="content px-4">
      @Body
    </article>
  </RadzenBody>
  <RadzenFooter>
    &copy; 2024 Justin Urbanek
  </RadzenFooter>
</RadzenLayout>

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>

@code {
  bool sidebarExpanded = false;
}