@page "/counter"

<PageTitle>Counter</PageTitle>

<RadzenHeading Size="H1" Text="Counter" />

<p role="status">Current count: @currentCount</p>

<RadzenButton Text="Click me" Click=IncrementCount />

@code {
  private int currentCount = 0;

  private void IncrementCount() {
    currentCount++;
  }
}
